<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>
        <h2 id='message'></h2>
        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onfocus="Client.onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <h2 id='polarity'>Polarity:</h2>
                    <h2 id='subjectivity'>Subjectivity:</h2>
                    <p id="text">News Text:</p>
                    <h2 id='polarity-confidence'>Polarity-confidence:</h2>
                    <h2 id="subjectivity-confidence">subjectivity-confidence:</h2>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registraion=>{
                        console.log('registraion is succesfull')
                    });
                });
            }
            else{
                console.log('service worker are not supported')
            }
        </script>
    </body>
</html>
